body{
    background-color: rgba(192, 192, 192, 1);
}
.header{
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-left:  130px;
    padding-right: 130px;
}
.name{
    font-size: 17px;
}
.mid{
    display: flex;
    gap: 30px;
    font-size: 16px;
}
.rt{
    color: rgba(255, 165, 0, 1);
}
.btn{
    width: 150px;
    height: 35px;
    margin-top: 15px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 17px;
}